@font-face {
    font-family: "Anonymous Pro";
    src: url(./fonts/AnonymousPro-Regular.woff) format('woff'), 
    url(./fonts/AnonymousPro-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(./fonts/AnonymousPro-Bold.woff) format('woff'), 
    url(./fonts/AnonymousPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Soyuz Grotesk";
    src: url(./fonts/Soyuz\ Grotesk\ Bold.woff) format('woff'), 
    url(./fonts/Soyuz\ Grotesk\ Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    padding: 30px 0px 17px 0px;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #A1A6B4;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 90%;
    max-width: 1161px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header__item-link {
    color: var(--white, #000000);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #F1F1F1;
    flex: 1 0 auto;
    color: #121723;
}

.content {
    margin: 25px 0 25px;
    display: flex;
    flex-direction: column;
    max-width: 1161px;
    flex: 1 0 auto;
}

.content__title {
    color: #121723;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.content__cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px 0 0;
    gap: 24px;
    column-gap: 24px;
    justify-content: center;
}

.sneaker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    width: 100%;
    max-width: 370px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.25);
}

.card__image {
    width: 100%;
    height: 100%;
    max-height: 254px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-radius: 12px;
    background: white;
    min-height: 120px;
}

.card__link {
    width: 85%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: #121723;
    text-decoration: none;
}

.card__text {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.card__text_title {
    font-size: 26px;
    font-weight: 700;
}

.card__text_description {
    font-size: 20px;
    font-weight: 400;
}

.card__link:visited {
    color: grey;
}

.card__link:hover {
    color:  #b90000;
}

.card__link:active {
    color: #5253FF;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px 0 21px 0;
    background-color: #000000;
    width: 100%;
}

.line {
    width: 1160px;
    height: 1px;
    background: rgba(230, 232, 236, 0.40);
    margin-top: 32px;
    margin-bottom: 18px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 90%;
    max-width: 1161px;
}

.footer__content {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 100%;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer__item-link {
    color: var(--white, #FFF);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.final {
    max-width: 1160px;
}

.final p {
    text-align: center;
    max-height: 16px;
    margin: 0;
}

.footer__finaltext {
    color: var(--text_gray, #A1A6B4);
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}